html, body {
    padding: 0;
    margin: 0;
    background-color: #C2C072;
}
.navbar-custom {
    background-color: #654194;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #BFA6E0;
}
.navbar-custom .navbar-nav .nav-link {
    color: #BFA6E0;
}
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #A679E0;
}
.toggler-custom.navbar-toggler {
    border-color: #BFA6E0;
}
.toggler-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(191, 166, 224)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-brand .img-fluid {
    max-width: 50px;
    max-height: 50px;
}
main {
    max-width: 1020px;
    margin: auto;
    padding-bottom: 100px;
    background-color: #CFCD7A;
}
div {
    overflow-x: hidden;
}
.inner {
    margin-left: 25px;
    margin-right: 15px;;
}
.card {
    max-width: 250px;
}
.card .img-fluid {
    max-width: 250px;
    max-height: 150px;
}
.progress {
    margin-top: 5px;
    margin-bottom: 5px;
}
